* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  padding-bottom: 500px;
}
nav {
  width: 480px;
}
.main-head {
  display: flex;
  padding: 6px 6px 0px 6px;
  align-items: center;
  flex-direction: row;
}
.top-side-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo-div {
  flex: 1;
}
.btn-log {
  background-color: white;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #2c7575;
  transition: transform 0.3s;
}
.btn-log:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.btn-reg {
  height: 30px;
  background-color: #0e8585;
  margin-left: 20px;
  width: 80px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  transition: transform 0.3s;
}

.btn-reg:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.cart-btn {
  height: 25px;
  margin-left: 20px;
  transition: transform 0.3s;
}
.cart-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.links {
  padding: 6px 6px 6px 6px;
  margin-top: 5px;
  border-top: 2px solid #2c7575;
  border-bottom: 2px solid #2c7575;
}
.links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.links-list-name {
  size: 24px;
  font-weight: 700;
  transition: transform 0.3s;
}
.links-list-name:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.section--1 {
  width: 480px;
  margin: 6px;
}

.searchbar-div {
  margin-top: 20px;
  border: 2px solid #339c9c;
  border-radius: 15px;
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  width: 24px;
  height: 26px;
  margin: 0px 12px 0px 40px;
}
.searchbar-main {
  border: none;
  outline: none;
  margin-right: 20px;
  flex: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(18, 90, 90, 0.2);
}
.searchbar-main::placeholder {
  color: rgba(18, 90, 90, 0.2);
}
.detail-text-div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.detail-text-div-content {
  font-weight: 700;
  font-size: 2.143rem;
  color: #007e7e;
  margin-top: 40px;
}
.view-course-btn {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.429rem;
  align-self: center;
  background: #0e8585;
  border: 1px solid #a0a0a0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 191px;
  height: 62px;
  color: #ffff;
  transition: transform 0.3s;
}
.view-course-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.image-designs {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.image-work {
  width: 35%;
  z-index: 3;
}

.design-image-2,
.design-image-1 {
  position: absolute;
  width: 70%;
  bottom: 0;
}
.platform-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.platform-links img {
  width: ;
}
